DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=mmo_game
DB_USER=mmo_user
DB_PASS=change_me
GEO_IP_API_URL=http://ip-api.com/json/%s?fields=status,countryCode,city,lat,lon,query
GEO_IP_API_KEY=
GEO_MAXMIND_DB_PATH=/geoDB/GeoLite2-City.mmdb
GEO_FALLBACK_COUNTRY_ID=1
GEO_CACHE_TTL=900
TRUSTED_PROXIES=127.0.0.1,::1

SC_PORT=3001
