APP_ENV=production
APP_DEBUG=false
APP_URL=https://game.noasoft.org
APP_NAME=Noa Political Wars
SOCKET_PORT=3001
SOCKET_URL=http://127.0.0.1:3001

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=noasoft_game
DB_USER=noasoft_user
DB_PASS=change_me

SESSION_NAME=noasoft_game_session
SESSION_SECURE=true
